.App {
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(243, 190, 98),
    rgb(246, 220, 174),
    rgb(243, 190, 98)
  );
  border: 1px solid black;
  min-width: 100%;
  min-height: 100vh;
}
@media screen and (max-width: 370px) {
  .App {
    min-width: 200%;
  }
}
@media screen and (max-width: 200px) {
  .App {
    min-width: 300%;
  }
}

.input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input1 {
  width: 30%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.button {
  color: white;
  text-align: center;
  align-items: center;
  font-weight: bold;
  padding: 1%;
  background: linear-gradient(to right, #aaa4ee, #200fdf);
  border-radius: 5px;
  height: 20%;
}
.excelButton {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 1%;
  background: linear-gradient(110deg, #e1dfd9 60%, #191601 55%);
  border-radius: 5px;
  height: 20%;
}
.itemButton {
  color: white;
  font-size: 100%;
  width: 20%;
  text-align: center;
  font-weight: bold;
  padding: 2%;
  background-color: rgb(226, 130, 12);
  border-radius: 5px;
  height: 20%;
  margin: 2px;
}
@media screen and (max-width: 1000px) {
  .itemButton {
    color: white;
    font-size: 15px;
    width: 30%;
    text-align: center;
    font-weight: bold;
    padding: 2%;
    background-color: rgb(226, 130, 12);
    border-radius: 5px;
    height: 20%;
    margin: 2px;
  }
  .button {
    margin-top: 3%;
  }
}
@media screen and (max-width: 1365px) {
  .complete {
    width: 40%;
  }
  .button {
    margin-top: 3%;
  }
}
@media screen and (max-width: 645px) {
  .itemButton {
    height: 30px;
    width: 60px;
  }
}
@media screen and (max-width: 450px) {
  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .complete {
    font-size: 12px;
  }
}
@media screen and (max-width: 650px) {
  .backbutton {
    height: 20%;
  }
}

.name {
  color: white;
  font-size: 25px;
  gap: 5px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
.container {
  box-shadow: 2px 2px 6px 2px #00000014;
  border-radius: 15px;
  background-color: lightgrey;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.process {
  width: 100%;
  display: flex;
}
@media screen and (max-width: 413px) {
  .container {
    background-color: lightgray;
  }
  .input {
    width: 90%;
  }
  .input1 {
    width: 90%;
  }
  .process {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
